<a href="https://colab.research.google.com/github/rohankoditala/skills-introduction-to-github/blob/main/Project_1_Identifying_customer_geographies_The_Well_Grounded_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd# import pandas data library
customers = pd.read_csv("addresses.csv")# we imported our addresses csv file into the customer variable
print(customers.shape)# we used the customers.shape in order to get the rows,colums output
customers.isnull().sum() #we use this function to determine how many missing values

(100000, 3)

company_id       0
address        968
total_spend      0
dtype: int64