<a href="https://colab.research.google.com/github/rohankoditala/skills-introduction-to-github/blob/main/Project_1_Identifying_customer_geographies_The_Well_Grounded_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd# import pandas data library
customers = pd.read_csv("addresses.csv")# we imported our addresses csv file into the customer variable
print(customers.shape)# we used the customers.shape in order to get the rows,colums output
customers.isnull().sum() #we use this function to determine how many missing values

(100000, 3)

company_id       0
address        968
total_spend      0
dtype: int64

In [2]:
customers = customers.dropna(subset=["address"])# we used this function to drop the records with no values
customers.isnull().sum()# we used this function to check if we have no missing values

company_id     0
address        0
total_spend    0
dtype: int64

In [3]:
customers["total_spend"].describe()#checking if the total spending column has any wierd values such as negatives

count    99032.000000
mean      4951.673197
std       1500.642398
min          0.000000
25%       3900.000000
50%       5000.000000
75%       6000.000000
max      11700.000000
Name: total_spend, dtype: float64

In [4]:
for address in customers["address"].head():
    print(address, "\n") # this code seperates the addresses, and prints us the first 5 addresses

APARTMENT 2,
52 BEDFORD ROAD,
LONDON,
ENGLAND,
SW4 7HJ

107 SHERINGHAM AVENUE,
LONDON,
N14 4UJ

43 SUNNINGDALE,
YATE,
BRISTOL,
ENGLAND,
BS37 4HZ

HAWESWATER HOUSE,
LINGLEY MERE BUSINESS PARK,
LINGLEY GREEN AVENUE,
GREAT SANKEY, WARRINGTON,
WA5 3LP

AMBERFIELD BARN HOUSE AMBER LANE,
CHART SUTTON,
MAIDSTONE,
ENGLAND,
ME17 3SF

In [5]:
customers["address_clean"] = customers["address"].str.upper()#we created a new column, and made every address upper case
len(customers[customers["address_clean"].str.contains("LONDON")])# this checks how many recors in the address column has the phrase LONDON by itself instead of new row

21768

In [6]:
len(customers[customers["address_clean"].str.contains("LONDON,")])# this checks how many recors in the address column has the phrase LONDON, and moves on to new row

20831

In [7]:
customers["address_lines"] = (
    customers["address_clean"]
    .str.split(",\n")                     #Splits an address into a list of substrings (i.e., separate the rows)
    .apply(len)                       #Counts the length of each list (i.e., the number of rows in the address)
)
customers["address_lines"].value_counts().sort_index()    #Now counts how many addresses are made of how many rows

address_lines
1        6
2       52
3     3284
4    35850
5    45931
6    13909
Name: count, dtype: int64

In [8]:
print(customers.loc[customers["address_lines"] == 1, "address_clean"])#grabs all rows which have only one line of address
print((
    customers[customers["address_lines"] == 2]
    .sample(5, random_state=42)                  #Looks at five random rows that have only two lines of address. The random_state parameter ensures we get the same results each time for reproducibility.
    ["address_clean"])
)

17789                      FALKIRK
31897                   HADDINGTON
61750          CREAG BHAITHEACHAIN
75330                     NEWMILNS
78045    REDCLOAK FARM, STONEHAVEN
90897     REFER TO PARENT REGISTRY
Name: address_clean, dtype: object
39443                                    FORFAR,\nANGUS
80846                        12 HOPE STREET,\nEDINBURGH
95979    BRANCH REGISTRATION,\nREFER TO PARENT REGISTRY
23563    BRANCH REGISTRATION,\nREFER TO PARENT REGISTRY
81155                             PO BOX 2230,\nGLASGOW
Name: address_clean, dtype: object

In [10]:
cities = pd.read_csv("cities.csv", header=None, names=["city"]) #this function reads the new city file, and gives us the first 5 cities from the file
cities.head()

              city
0          England
1             Bath
2      Birmingham*
3        Bradford*
4  Brighton & Hove